- var objects = ['line lineOne', 'line lineTwo', 'line lineThree', 'stand', 'weight', 'cabin', 'arm']
- var n = 0

#content
  h1 < building />
  p Working day and night!

#outerCraneContainer
  .buildings
    while n < 5
      div(class= n++)
  .crane.craneThree
    for i in objects
      div(class= i)
  .crane.craneTwo
    for i in objects
      div(class= i)
  .crane.craneOne
    for i in objects
      div(class= i)
      